.card{
    width: 350px;
    height: 300px;
    margin-right: 0px;
}
#search{
    width: 500px;
}
.popup img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#click-recipe{
    background-color: mediumslateblue;
    text-decoration: underline;
}
#view-recipe{
    content: "✅";
    display: inline-block;
    margin-right: 0.2rem;
    font-size:medium;
   
}
.card-img-top{
    width: 350px;
    height: 300px;
    margin-right: 0px;
}
#comment-box{
    width: 400px;
    height:32px;
    font-size: medium;
    
}
#comment-button{
    font-size: 20px;
    background-color: mediumslateblue;
    text-decoration: underline;
    width:200px;
    height:35px;
    margin-bottom: 10px;
}
#view-ingredients{
    font-size: medium;
}